<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NBA - REST API</title>
    <style>
       div {
        font-family: arial;
        font-size: 120px;
        font-weight: 700;
        margin: 25px;
        display: flex;
        justify-content: center;
        }
    </style>
</head>
<body>
    <div>
        <p style="color:rgb(74, 15, 235);">
            N
        </p>
        <p style="color: rgb(94, 92, 99);">
            B
        </p>
        <p style="color:rgb(201, 24, 18);">
            A
        </p>
        <p style="color: rgb(41, 39, 39);">
            - REST API
        </p>
    </div>
</body>
</html>